/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Jan, 2016, 2:14:22 PM
    Author     : rtcamp
*/


root { 
    display: block;
}

.labels{
  color:black;
  font-size:20px;
  margin-bottom: -0.2%;
}

.data{
  margin-left:3%;
  font-family: Verdana;
  font-size:13px;
}

.timing_table {
  border:none;
  width:20%;
}

.timing_table tr td{
  border:none;
  padding: -1px -10px 0px 0px;
  margin: auto;
  
}

.timing_table #timing_title{
  font-weight: 28px;
  border-bottom-style:ridge;
  color: black;
  font-size:16px;
}

.timing_table .timing_data{
  font-size:13px;
}

.data>li
{
  text-decoration: none;
  margin-left:-2%;
}
.timing_table .timing_data .close{
  text-align: center;
  font-style: oblique;
  font-weight: bold;
} 

#review_area{
  width:50%;
}

.comments-title{
  font-size: 20px;
}

.comment-rating{
  max-width: auto;
  height: 3%;
  width:5%;
}

#floating-panel {
  position: relative;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
}


.address{
  width:35%;
  height: 200px;
  display: block;
  position: relative;

}
.address div#map{
  height: 200px;
  width: 200px;
 float:right;
  clear: both;
  margin-top:-23%;
  
  }
.address > p.labels{
  
  display: block;
  clear:both;
}
.address #data_address{
   margin-left:3%;
  font-family: Verdana;
  font-size:13px;
  color:black;
  display: block;
  width: 50%;
  clear:both;
}


/*photo gallery */
.image-gallery{
  height: 30%;
  width:30%;
  display:inline-block;
  background-color: rgba(4,12,55,0.1);
  margin:auto;
  padding: 1%;
  text-align: center;
  vertical-align: middle;
}
.image-gallery >div#image img{
  height:80%;
  width:80%;
  z-index: +1;
  max-height: 80%;
  min-height: 80%;
  max-width: 80%;
  min-width: 80%;
  display: inline-block;
  margin: 5%;
  vertical-align: middle;
}